body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.4rem 7%;
        height: 40px;
        background-color: #FBA834;
        color: white;
        border-bottom: 1px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
}

.Logo-Petcare img{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 200px;
   cursor: pointer;
}

#profilelogo:hover{
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

nav ul li #profilelogo{
    cursor: pointer;
}

nav ul li #profilelogo:hover{
    cursor: pointer;
}

nav ul li a:hover{
    outline: black solid 2px;
    border-radius: 15px;
    padding: 6px;
    transition: 0.2s ease-in-out;
}

.Background-Welcome{
    padding: 50px 0 0 0;
    margin-top: 80px;
    height: 50vh;
    text-align: center;
    background-image: url(../Assets/Homepage-Gmbr.png);
    background-size: cover;
    color: white;
}

.Background-Welcome h1{
    font-size: 64px;
}

.Background-Welcome p{
    font-size: 32px;
}

.Benefits{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;

}

.Card-Benefits{
    margin:auto;
    text-align: center;
}

.Benefits-1-text h1{
    color : #091155;
    font-weight: bolder;
}

.Home-Service h1{
    color : #091155;
    text-align: center;
    font-weight: bolder;
}

.Service-Menu{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.Menu{
    margin:auto;
    text-align: center;
}

.Line .img-1{
    margin-top: 50px;
    margin-left: 80px;
}

.Line .img-2{
    margin-bottom: 30px;
    margin-left: 250px;
}

.Know-More{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.Know-More-text h1{
    color : #091155;
    font-weight: bolder;
}

.Know-More-text p{
    font-size: 28px;
}

.Know-More-text a{
    padding: 10px 30px 10px 30px;
    background-color: #50C4ED;
    text-decoration: none;
    border-radius: 50px;
    font-size: 24px;
    color: white;
    font-weight: bolder;
}

footer{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10;
    text-align: center;
    z-index: 99;
}

.Message-Website{
    height: 120px;
    background-color: #FBA834;
    display: grid;
    place-items: center;
}

.footer-text{
    color: white;
}

.pet-care{
    color: black;
}

.Message-Website .footer-icon img{
    background-color: #FBA834;
    padding-bottom: 20px;
}

.Designed-footer{
    display: grid;
    place-items: center;
    height: 50px;
    background-color: black;
    color: white;
}


.garis-tiga{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    z-index: 99;
}

.garis-tiga input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    z-index: 999;
    cursor: pointer;
} 

.garis-tiga span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: 1s;
}

.garis-tiga span:nth-child(2){
    transform-origin: 0 0;
}

.garis-tiga span:nth-child(4){
    transform-origin: 0 100%;
}

.garis-tiga input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}

.garis-tiga input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

.garis-tiga input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0px);
}

/*Responsive tools Tablet*/
@media screen and (min-width: 768px){
    nav ul{
        width: 50%;
    }
}

/*Responsive tools Hp*/
@media screen and (max-width: 768px){
    .garis-tiga{
        display: flex;
    }
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        z-index: -1;
        background-color: #FBA834;
        transition: all .2s;
        transform: translateX(100%);
        opacity: 0;

    }
    nav ul.muncul-responsive{
        opacity: 1;
        transform: translateX(0);
    }

    .Background-Welcome h1{
        font-size: 48px;
    }
    
    .Background-Welcome p{
        font-size: 24px;
    }

    .Card-Benefits{
        margin-left: 90px;
    }

    
}