body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    height: 40px;
    background-color: #FBA834;
    color: white;
    border-bottom: 1px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.Logo-Petcare img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

nav ul li img {
    cursor: pointer;
}

nav ul li a:hover {
    outline: black solid 2px;
    border-radius: 15px;
    padding: 6px;
    transition: 0.2s ease-in-out;
}

.container{
    max-width: 1050px;
    height: 55vh;
    width: 100%;
    background-color: #FBA834;
    margin-bottom: 100px;
    border-radius: 20px;
}

.container .profile-picture{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
}

.picture{ 
    display: grid;
    place-items: center;
}

.picture label{
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    background-color: #fff;
}

.picture label:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}

.picture img{
    width: 200px;
    margin-left: 20px;
}

.picture #input-file{
    color: #FBA834;
    margin: auto 30px;
    display: none;
}

.picture button{
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
}

.picture button:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}

.profile-picture form{
    width: 40%;
    margin-right: 50px;
}

.profile-picture form h1{
    text-align: center;
    margin-top: 10px;
}

.profile-picture .input-box{
    display: block;
    height: 30px;
    width: 100px;
    margin: 15px 0;
    position: relative;
}

.profile-picture .input-box input{
    width: 300px;
    outline: none;
    border: 2px solid black;
    font-size: 15px;
}

.profile-picture .input-box label{
    margin-bottom: 20px;
}

.profile-picture .input-box select{
    width: 200px;
    height: 20px;
}

.profile-picture .button-box{
    margin: 30px 20px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.profile-picture .button-box button{
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    background-color: black;
    font-weight: bold;
    color: white;
    transition: 0.2s ease-in;
}

.profile-picture .button-box .Save{
    padding: 20px 20px 20px 20px;
    border-radius: 40px;
    background-color: black;
    font-weight: bold;
    color: white;
    transition: 0.2s ease-in;
}

.profile-picture .button-box button:hover{
    background-color: white;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.pop-up{
    width: 400px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    /* visibility: hidden; */
}

.pop-up button{
    padding: 10px 30px 10px 30px;
    background-color: black;
    text-decoration: none;
    border-radius: 30px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    z-index: 999;
}


footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 00;
    text-align: center;
    z-index: 99;
}

.Message-Website {
    height: 120px;
    background-color: #FBA834;
    display: grid;
    place-items: center;
}

.footer-text {
    color: white;
}

.pet-care {
    color: black;
}

.Message-Website .footer-icon img {
    background-color: #FBA834;
    padding-bottom: 20px;
}

.Designed-footer {
    display: grid;
    place-items: center;
    height: 50px;
    background-color: black;
    color: white;
}

.garis-tiga {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    z-index: 99;
}

.garis-tiga input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    z-index: 999;
    cursor: pointer;
}

.garis-tiga span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: 1s;
}

.garis-tiga span:nth-child(2) {
    transform-origin: 0 0;
}

.garis-tiga span:nth-child(4) {
    transform-origin: 0 100%;
}

.garis-tiga input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.garis-tiga input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

.garis-tiga input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0px);
}

/*Responsive tools Tablet*/
@media screen and (min-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/*Responsive tools Hp*/
@media screen and (max-width: 768px) {
    .garis-tiga {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        z-index: -1;
        background-color: #FBA834;
        transition: all .2s;
        transform: translateX(100%);
        opacity: 0;

    }

    nav ul.muncul-responsive {
        opacity: 1;
        transform: translateX(0);
    }
}